{% extends 'base.html'%}

{% block content %}

{% for track in artist_top_tracks %}
    {% comment %} {{ track.external_urls.spotify }}
    {{ track.name }}
    {{ track.popularity }}
    {{ track.preview_url }}
    {{ track.track_number }}
    {{ track.id }} {% endcomment %}
    {% comment %} <iframe src="https://open.spotify.com/embed/track/{{ track.id }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> {% endcomment %}
{% endfor %}

<div class='main-container'>

{% for album in albums %}

    <div class='album_container'>
        <div class='album_info'>
            <img src='{{ album.images.1.url }}' class='album_art'>
            <h2>{{ album.name }}</h2>
            <p><strong>Release Date:</strong> {{ album.release_date }}</p>
            <p><strong>Total Tracks:</strong> {{ album.total_tracks }}</p>
        </div>
        <div class='iframe'>
            <iframe src="https://open.spotify.com/embed/album/{{ album.id }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <p>
                Open with 
                <img class="spotify_logo" src="/static/pics/Spotify_Logo_CMYK_Green.png">
            </p>
        </div>
    </div>
{% endfor %}

</div>

{% endblock %}