{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% comment %} <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        {% block meta %}{% endblock %}
        <title>{% block title %}MusicData{% endblock %}</title>
    </head>

    <div class='header'>
        <h1>Spotify Me</h1>
        <img class='logo' src='/static/pics/Spotify_Icon_RGB_Green.png'>
    </div>

    <body>
        {% load static %}
        {% block content %}{% endblock %}
    
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </body>

</html>