{% extends 'base.html' %}

{% block content %}

<form method='POST'>
 {% csrf_token %}
<input type='text' name='artist_search'>
<button type='submit'>Search</button>
</form>

<div class=''>

{% for artist in artists %}
    <section class='tc'>
        <div class='container'>
            {% if artist.images.1.url %}
                <img src='{{ artist.images.1.url }}' id='image'>
            {% else %}
                <img src='/static/pics/Spotify_Icon_RGB_Black.png' id='image'>
            {% endif %}
            <div class='middle'>
                <div class='text'>
                    <a href="{% url 'albums' artist_id=artist.id %}">{{ artist.name }}</a>
                    <p>Followers: {{ artist.followers.total }}</p>
                    <p>Popularity: {{ artist.popularity }}</p>
                    <a href='{{ artist.external_urls.spotify }}' target='_blank'>Open in Spotify</a>
                </div>
            </div>
        </div>
    </section>
{% endfor %}

</div>

{% endblock %}