{% extends 'base.html'%}

{% block content %}

{% for track in tracks %}
    <h2>{{ track.name }}</h2>
    <div class='track_features'>
        <div>
            <p>Track #{{track.track_number }}</p>
            <p>Danceability: {{ track.danceability}}</p>
            <p>Energy: {{ track.energy }}</p>
            <p>Key: {{ track.key }}</p>
            <p>Loudness: {{ track.loudness }}</p>
            <p>Mode: {{ track.mode }}</p>
            <p>Speechiness: {{ track.speechiness }}</p>
        </div>
        <div>
            <p>Acousticness: {{ track.acousticness }}</p>
            <p>Instrumentalness: {{ track.instrumentalness }}</p>
            <p>Liveness: {{ track.liveness }}</p>
            <p>Valence: {{ track.valence}}</p>
            <p>Tempo: {{ track.tempo }}</p>
            <p>Time Signature: {{ track.time_signature }}</p>
        </div>
        <iframe src="https://open.spotify.com/embed/track/{{ track.id }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
{% endfor %}

{% endblock %}