html {
    background-color: #191414;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 1rem;
}

a {
    color: #FFFFFF;
}

.spotify_logo {
    width: 70px;
}

.login {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}

.login_ref {
    text-decoration: none;
}

.container {
    position: relative;
    width: 400px;
    margin: 3rem auto 3rem auto;
  }

#image {
    opacity: 1;
    display: block;
    width: 400px;
    height: 400px;
}

.album_container {
    border-bottom: 2px white solid;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.album_info {
    max-width: 300px;
    margin: 1rem;
}

.iframe {
    margin: 1rem;
}

.track_features {
    display: flex;
    justify-content: space-around;
    color: #1DB954;
}
  
.text {
    color: #FFFFFF;
    font-size: 16px;
}

@media only screen and (min-width: 700px) {
    .album_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border: none;
    }

@media only screen and (min-width: 880px) {
    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container {
        margin: 2rem;
    }
}
}